html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  all: unset;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
body {
  min-width: 1280px;
  font-family: "Pretendard", sans-serif;
}

.inner {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

aside {
  width: 100%;
  height: 40px;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

header {
  width: 100%;
  height: 60px;
  z-index: 5;
  position: sticky;
  left: 0;
  top: 0;
  padding: 0 32px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
header .inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .inner .logo {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
header .inner .logo h1 {
  display: block;
  height: 35px;
}
header .inner .logo h1 a {
  display: block;
  height: 100%;
}
header .inner .logo h1 a img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .inner nav {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
header .inner nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}
header .inner nav ul li {
  height: 100%;
  position: relative;
}
header .inner nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 600;
  color: #1F2937;
}
header .inner nav ul li:hover a {
  opacity: 1;
}
header .inner nav ul li:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #1F2937;
  position: absolute;
  left: 0;
  bottom: 0;
}
header .inner .util {
  height: 100%;
}
header .inner .util .util-list {
  height: 100%;
  display: flex;
  align-items: center;
}
header .inner .util .util-list li button {
  font-size: 14px;
  font-weight: 600;
  color: #1F2937;
}
header .inner .util .util-list li button.search {
  padding-right: 18px;
  position: relative;
}
header .inner .util .util-list li button.search::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/search.png") no-repeat center/contain;
}
header .inner .util .util-list li + li {
  margin-left: 20px;
}

main {
  width: 100%;
}
main .swiper {
  width: 100%;
  height: calc(100vh - 100px);
}
main .swiper .swiper-wrapper {
  height: 100%;
}
main .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
main .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .contents {
  animation: mainFadeIn 1.5s ease forwards;
}
main .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .contents.profile .circle {
  animation: mainRight 1.5s ease forwards;
}
main .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .contents.desc .desc-area img {
  animation: mainRight 1.5s ease forwards;
}
main .swiper .swiper-wrapper .swiper-slide .contents {
  width: 1100px;
  height: 60%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: mainFadeOut 1.5s ease forwards;
}
main .swiper .swiper-wrapper .swiper-slide .contents .text {
  line-height: 1.2;
  z-index: 3;
}
main .swiper .swiper-wrapper .swiper-slide .contents.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.profile .text {
  font-size: 40px;
  font-weight: 700;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.profile .circle {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 5%;
  background: #e9ffab;
  z-index: 2;
  animation: mainLeft 1.5s ease forwards;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list {
  width: 55%;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li {
  position: relative;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li + li {
  padding-top: 40px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li + li::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #e2e2e2;
  position: absolute;
  left: 0;
  top: 20px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li .title {
  font-size: 22px;
  font-weight: 700;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li .contents-list {
  width: 100%;
  margin-top: 20px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li .contents-list li div {
  display: flex;
  justify-content: space-between;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li .contents-list li div p {
  font-size: 18px;
  font-weight: 400;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li .contents-list li div .name {
  display: block;
  width: 60%;
  text-align: left;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .career-list > li .contents-list li div + div {
  margin-top: 10px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.career .text {
  display: block;
  width: 55%;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils .skils-list {
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils .skils-list li .list-name {
  font-size: 22px;
  font-weight: 600;
  color: #1F2937;
  text-align: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils .skils-list li p {
  font-size: 18px;
  font-weight: 400;
  color: #1F2937;
  line-height: 1.5;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils .skils-list li p + p {
  margin-top: 10px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils .img {
  width: 30%;
  height: auto;
  margin: 30px auto;
  animation: above 2s ease infinite;
}
main .swiper .swiper-wrapper .swiper-slide .contents.skils .text {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li {
  width: 31%;
  height: 49%;
  padding: 10px;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: above 2s ease infinite;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li:nth-child(2), main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li:nth-child(5) {
  animation-delay: 0.2s;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li:nth-child(3), main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li:nth-child(6) {
  animation-delay: 0.4s;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li p {
  text-align: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li .title {
  font-size: 22px;
  font-weight: 600;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li .sub-title {
  font-size: 18px;
  font-weight: 600;
  color: #1F2937;
  margin-top: 20px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li .cont-text {
  font-size: 16px;
  font-weight: 400;
  color: #1F2937;
  margin-top: 10px;
  line-height: 1.5;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .project-list li:last-child p {
  font-size: 50px;
  font-weight: 600;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.project .text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 15%;
  font-size: 24px;
  font-weight: 600;
  color: #1F2937;
  text-align: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.works {
  height: 80%;
}
main .swiper .swiper-wrapper .swiper-slide .contents.works .works-area {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.works .works-area img {
  width: auto;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  animation: above 2s ease infinite;
}
main .swiper .swiper-wrapper .swiper-slide .contents.works .works-area .text {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 10%;
  font-size: 24px;
  font-weight: 600;
  color: #1F2937;
  text-align: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.desc {
  width: 1000px;
}
main .swiper .swiper-wrapper .swiper-slide .contents.desc .desc-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .swiper .swiper-wrapper .swiper-slide .contents.desc .desc-area img {
  width: 40%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateX(-50%);
  animation: mainLeft 1.5s ease forwards;
}
main .swiper .swiper-wrapper .swiper-slide .contents.desc .desc-area .sub-text {
  text-align: center;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 400;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.desc .desc-area .sub-text span {
  font-size: 32px;
  font-weight: 700;
  color: #1F2937;
}
main .swiper .swiper-wrapper .swiper-slide .contents.end {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .swiper .swiper-wrapper .swiper-slide .contents.end strong {
  font-size: 60px;
  font-weight: 600;
  color: #1F2937;
  z-index: 3;
}
main .swiper .swiper-pagination {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  height: 10px;
  left: 50%;
  top: auto;
  bottom: 3%;
  transform: translateX(-50%);
}
main .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 10px;
  margin: 0;
  border-radius: 0;
}
main .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #222;
}
main .swiper .swiper-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 5px;
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainFadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mainRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mainLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes above {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}