@use 'variable' as *;
@use 'mixin' as *;

// common
body {
  min-width: 1280px; font-family: 'Pretendard', sans-serif;
  .inner { max-width: 1920px; width: 100%; height: 100%; margin: 0 auto; }
}

aside {
  width: 100%; height: 40px; background: $black;
  display: flex; align-items: center; justify-content: center;
  p { @include fontStyle(16px, 400, $white); }
}

header {
  width: 100%; height: 60px; z-index: 5; position: sticky; left: 0; top: 0;
  padding: 0 32px; background: #fff; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  .inner {
    display: flex; justify-content: space-between; position: relative;
    .logo {
      height: 100%; text-align: center; display: flex; align-items: center;
      h1 {
        display: block; height: 35px;
        a {
          display: block; height: 100%;
          img { width: auto; height: 100%; object-fit: contain; }
        }
      }
    }
    nav {
      height: 100%; position: absolute; left: 50%; top: 0; transform: translateX(-50%);
      ul {
        height: 100%; display: flex; align-items: center;
        li {
          height: 100%; position: relative;
          a {
            display: flex; justify-content: center; align-items: center;
            width: 100%; height: 100%; padding: 0 15px; opacity: 0.5;
            @include fontStyle(16px, 600, $grey200);
          }
          &:last-child {
            a { color: $black; opacity: 1; }
          }
          &:hover {
            a { opacity: 1; }
            &::after {
              display: block; content: ''; width: 100%; height: 2px; background: $grey200;
              position: absolute; left: 0; bottom: 0;
            }
          }
          
        }
      }
    }
    .util {
      height: 100%;
      .util-list {
        height: 100%; display: flex; align-items: center;
        li {
          button {
            @include fontStyle(14px, 600, $grey200);
            &.search {
              padding-right: 18px; position: relative;
              &::after {
                content: ''; width: 15px; height: 15px;
                position: absolute; right: 0; top: 50%; transform: translateY(-50%);
                background: url("../img/search.png") no-repeat center / contain;
              }
            }
          }
          & + li { margin-left: 20px; }
        }
      }
    }
  }
}

main {
  width: 100%;
  .swiper {
    width: 100%; height: calc(100vh - 100px);
    .swiper-wrapper {
      height: 100%;
      .swiper-slide {
        width: 100%; height: 100%; position: relative;
        &.swiper-slide-active {
          .contents {
            &.profile { animation: opacityFirst 1.5s ease forwards; }
            &:not(.profile) { animation: opacity 2s ease forwards; }
          }
        }
        .text { line-height: 1.2; }
        .contents {
          width: 1100px; height: 60%; padding: 20px;
          @include absoluteCenter;
          &.profile {
            @include flexCenter;
            .text { @include fontStyle(36px, 700, $grey200); }
          }
          &.career {
            display: flex; flex-direction: column; justify-content: center; align-items: center;
            .career-list {
              width: 55%;
              > li {
                position: relative;
                & + li {
                  padding-top: 30px;
                  &::before {
                    content: ''; width: 100%; height: 2px; background: $border;
                    position: absolute; left: 0; top: 15px;
                  }
                }
                .title { @include fontStyle(22px, 700, $grey200); }
                .contents-list {
                  width: 100%; margin-top: 20px;
                  li {
                    div {
                      display: flex; justify-content: space-between;
                      p { @include fontStyle(18px, 400, $grey200); }
                      .name {
                        display: block; width: 60%; text-align: left;
                      }
                      & + div { margin-top: 10px; }
                    }
                  }
                }
              }
  
            }
            .text {
              display: block; margin-top: 50px;
              @include fontStyle(22px, 600, $grey200);
            }
          }
        }
      }
    }
  }
}

@keyframes opacityFirst { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes opacity { 0% { opacity: 0; } 10% { opacity: 0; } 100% { opacity: 1; } }

@keyframes moveRight { 0% { transform: translateX(-20%); } 100% { transform: translateX(0); } }
@keyframes moveLeft { 0% { transform: translateX(20%); } 100% { transform: translateX(0); } }